.sidebar{
    position: fixed;
    width: 3%;
    height: 100vh;
    background: rgb(44, 42, 42);
    box-shadow:white ;
}
.sideContainer{
    display: inline-grid;
}
.sidebarToggle{
    position: fixed;
    width: 3%;
    height: 100vh;
    background: rgb(44, 42, 42);
}
.fas{
    margin: 10px 10px;
}

@media only screen and (max-width:600px) {
   
    .sidebarToggle{
        position: fixed;
        width: 200px;
        height: 100vh;
        background: rgb(92, 87, 87);
        box-shadow:white ;
        z-index: 100;
    }
}